.control
  .row.align-middle.align-justify
    .columns.small-24.medium-5= f.label :enabled
    .columns.small-24.medium-18= f.check_box :enabled, class: 'decorated-checkbox box'
.control
  .row.align-middle.align-justify
    .columns.small-24.medium-5= f.label :name
    .columns.small-24.medium-18= f.text_field :name
.control
  .row.align-middle.align-justify
    .columns.small-24.medium-5= f.label :description
    .columns.small-24.medium-18= f.cktext_area :description, ckeditor: { toolbar: :latte, height: 300 }
.control
  .row.align-middle.align-justify
    .columns.small-24.medium-5= f.label :slug
    .columns.small-24.medium-18= f.text_field :slug, disabled: (f.object.new_record? ? true : nil)

- if f.object.class.respond_to?(:main_image?)
  = f.fields_for :main_image do |ff|
    = render partial: 'latte/main_images/form', locals: { f: ff }

.control
  .row.align-middle.align-justify
    .columns.small-24.medium-5= f.label :service_id
    .columns.small-24.medium-18= f.select :service_id, @service.map { |o| [o.name, o.id] }, include_blank: '-- Seleccione --'
