%footer
  .container
    .container-footer.row.align-justify
      .columns.large-8.medium-10.small-24
        .address
          = image_tag 'footer/location.svg', class: 'location'
          %p
            Santa Ana
            %br
            Santa Ana
        = link_to '+ 503 2263 3041', 'tel:50322633041',class: 'purple-tel'
      .columns.large-6.medium-8.small-24
        .social
          = link_to 'https://kreative-123.herokuapp.com/', target: 'blank' do
            = image_tag 'footer/facebook.svg'
          = link_to 'https://kreative-123.herokuapp.com/', target:'blank' do
            = image_tag 'footer/twitter.svg'
          = link_to 'https://kreative-123.herokuapp.com/', target: 'blank' do
            = image_tag 'footer/instagram.svg'
          = link_to 'https://kreative-123.herokuapp.com/', target: 'blank' do
            = image_tag 'footer/linkedin.svg'
        
        = link_to 'Ver Mapa', 'https://goo.gl/maps/eKGFRJqcZ1jfdifG8', target: 'blank', class: 'map'
